.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    width: 100%;
    box-sizing: border-box;

    padding-top: .75rem;
    padding-bottom: .75rem;
}

.cabecalho__Logo{
    width: 11.125rem;
}
.cabecalho__Carrinho{
    width: 1.75rem;
}